<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>form Deom</title>
<link rel="stylesheet" type="text/css"href="../../extjs-4.1.0/resources/css/ext-all.css"></link>
<script type="text/javascript" src="../../extjs-4.1.0/bootstrap.js"></script>
<script type="text/javascript" src="../../extjs-4.1.0/ext-all.js"></script> 
<script type="text/javascript" src="panel.js"></script>
<!-- <script type="text/javascript" src="anchor.js"></script> -->
<!-- <script type="text/javascript" src="absolute.js"></script> -->
<!-- <script type="text/javascript" src="table.js"></script> -->
<!-- <script type="text/javascript" src="column.js"></script> -->
<!-- <script type="text/javascript" src="border.js"></script> -->
<!-- <script type="text/javascript" src="tab.js"></script> -->
<!-- <script type="text/javascript" src="accordion.js"></script> -->
<!-- <script type="text/javascript" src="auto.js"></script> -->
<!-- <script type="text/javascript" src="card.js"></script> -->

<style type="text/css">
	.a{
		color:red
	}

</style>
</head>
<body>

</body>
</html>